
@import "./_mix";

.menu{
    margin-top: 150px;
    background:$bg-m;
    height: auto;
    margin-left: -15px;
    @extend .flx; 
    justify-content: center;
    
    div{
        position: relative;
        width: 100%;
        margin: 38px auto;
        @media (min-width:992px) {
            flex: 0 0 33.333333%;
            max-width: 33.333333%
        }
        p{
            text-align: center;
            span{
                display: block;
                text-align: center;
                color: white;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 2;
            }
        }

    }
}