@import "./_mix";

.grid{
    margin: 10px auto;
    @extend .flx; 
    max-width: 1200px;
    @media  (max-width: 995px) {
      justify-content: center;
    }

    // @media  (min-width: 1200px) {
    //   flex-direction: column;
    // }
   
    &-col{
        
        position: relative;
        flex-wrap: wrap;

        @media  (min-width: 995px) {
            flex: 0 0 50%;
            max-width: 50%;
            // width:50%;
        }
      

        &-r{
            display: flex;
            flex-direction: column;
            align-items: flex-start; 

            p{
                @include fnt($ft-clr, $fml:'Arial',$weight:700,$size:30px,$height:44px);
                letter-spacing: 0.820859px;            
                text-align: left;
                span{
                    display: block;
                }
                @media  (max-width: 995px) {
                    align-items: center;
                    align-self: center;
                    @include fnt($ft-clr, $fml:'Arial',$weight:500,$size:20px,$height:35px);
                }
                @media  (max-width: 750px) {
                    @include fnt($ft-clr, $fml:'Arial',$weight:700,$size:18px,$height:35px);
                }
                @media  (max-width: 450px) {
                    margin-top: 20px;
                    @include fnt($ft-clr, $fml:'Arial',$weight:600,$size:15px,$height:25px);
                }
                
            }
            @media  (max-width: 995px) {
                align-items: center;
                align-self: center;
            }
        }
    
        
        &-cnt{
            
            position: relative;
            width: 320px;

            // @media  (max-width:400px) {
            //     width:200px;
            // }
            .grid-col-cnt_img{
                width:220px;
                height:330px;
                background-image:url("./img/imageremovebg.png");
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 2;
                position: absolute;
                top:40px;
                left:80px;
                transition: all 1s ease;
                @media (max-width:1200px) {
                    width:200px;
                    top:20px;
                    left: 40px;
                }
                @media (max-width:850px) {
                    width:180px;
                    top:20px;
                    left: 40px;
                }
                @media  (max-width:750px) {
                    width:160px;
                    // width:180px;
                    top:20px;
                    left: 40px;
                }
                @media  (max-width:500px) {
                    width:130px;
                    top:20px;
                    left: 30px;
                }
            }
                .bf{
                    // position: relative;
                   
                    img{
                        width:280px;
                        height: auto;
                        position: absolute;
                        top:-15px;
                        left:429px;
                        z-index: 1;
                        transition: all 1s ease;
                        @media (max-width:1200px) {
                            width:220px;
                            top:-5px;
                            left:319px;
                        }
                        @media (max-width:850px) {
                            width:200px;
                            top:-5px;
                            left:319px;
                        }
                        @media  (max-width: 750px) {
                            width:170px;
                            top:-15px;
                            left:220px;
                        }
                        @media  (max-width:500px) {
                            width:150px;
                            top:-15px;
                            left:179px;
                        }
                    }
                }
                
            .img{
                width:330px;
                height: auto;
                position: absolute;
                left:200px;
                top: 100px;
                z-index:4;
                transition: all 1s ease;
                @media (max-width:1200px) {
                    width:260px;
                    top:85px;
                    left:135px;
                }
                @media (max-width:850px) {
                    width:240px;
                    left:140px;
                    top: 80px;
                }
                @media  (max-width: 750px) {
                    width:200px;
                    left:140px;
                    top: 80px;
                }
               
                  @media(max-width:500px) {
                    width:180px;
                    left:100px;
                    top: 70px;
                  }
                
            } 
        }
    }

    
}

 // @media (min-width:550px) and (max-width:450px) {
                //     width:180px;
                //     left:100px;
                //     top: 70px;
                //   }