@import "./_mix";

.sertif{
  
    @extend .flx; 
    justify-content: center;
    margin-top: 230px;
    ul{
        list-style: none;
        @extend .flx; 
        li{
            display: flex;
            flex-direction: row;
           align-items: center;
            p:last-of-type{
               span{
                display: block;
                line-height: 26px;
               }

            }
        }
    }
    @media (max-width:992px) {
       margin-top:320px;
    }
}