

$main-color:#FFFFFF;
$txt-clr:#000000;
$f-clr: #333333;
$ft-clr:#DAA823;
$md-clr:#878787;

$bg-i:#C4C4C4;
$bg-b: #79b2db;
$bg-f:#404040;
$bg-m:#1A1A1A;

$inp-c:#E8E8E8;
$inp-b:#FBFBFB;



// @include fnt($txt-clr, $fml:'Arial',$weight:400,$size:35px,$height:40px);